<% title "User Hub" %>

    <span id="right_content">

      <div id="form_content">

        <div id="form_content_header">

          <span id="form_content_header_left">
          <!-- end #form_content_header_left --></span>

          <span id="form_content_header_body">
          <!-- end #form_content_header_body --></span>

          <span id="form_content_header_right">
          <!-- end #form_content_header_right --></span>

        <!-- end #form_content_header --></div>

        <div id="form_content_body">

          <div id="form_content_text">

            <div id="content_body">

              <div id="left_column">
	              <div class="sidebar_box">
	                <h2>
	                  <span class="header">Basic User Info</span>
	                  <span class="edit_link"><%= link_to "(edit)", :action => "edit" %></span>
	                  <br clear="all" />
	                </h2>
	                <div class="sidebar_box_contents">
	                  <table>
	                    <tr>
	                      <td class="label">Username:</td>
	                      <td><%= @user.username %></td>
	                    </tr>
	                    <tr>
	                      <td class="label">Email:</td>
	                      <td><%= @user.email %></td>
	                    </tr>
	                    <tr>
	                      <td class="label">Password:</td>
	                      <td>********</td>
	                    </tr>
	                  </table>
	                </div>
	              </div>
                <div class="sidebar_box">
                  <h2>
                    <span class="header">Spec</span>
                    <span class="edit_link">
                      <%= link_to "(edit)", :controller => "spec", :action => "edit" %>
                    </span>
                    <br clear="all" />
                  </h2>
                  <div class="sidebar_box_contents">
                    <table>
                      <%= render :partial    => "specs/field_row", :collection => Spec::ALL_FIELDS %>
                    </table>
                  </div>
                </div>
              </div>
              <div id="main_content">
                <div id="full_name">
                  <%= h @spec.full_name.or_else("Your Name") %>
                </div>
                <div id="occupation">
                  <%= h @spec.occupation.or_else("Your Occupation") %>
                </div>
                <div id="location">
                  <%= h @spec.location.or_else("Your Location") %>
                </div>
                <span class="edit_link">
                  <%= link_to "(edit)", :controller => "spec", :action => "edit" %>
                </span>

                <hr noshade />
                Profile URL: <%= link_to profile_for(@user), profile_for(@user) %>
                <hr noshade />

                My Bio:

              </div>

            <br clear="all" />

            <!-- end #content_body --></div>

          <!-- end #form_content_text --></div>

        <!-- end #form_content_body --></div>

        <div id="form_content_footer">

          <span id="form_content_footer_left">
          <!-- end #form_content_footer_left --></span>

          <span id="form_content_footer_body">
          <!-- end #form_content_footer_body --></span>

          <span id="form_content_footer_right">
          <!-- end #form_content_footer_right --></span>

        <!-- end #form_content_footer --></div>

      <!-- end #form_content --></div>

      <div id="info_content">

        <span id="info_content_left">
        <!-- end #info_content_left --></span>

        <span id="info_content_text">
        <!-- end #info_content_text --></span>

        <span id="info_content_picture">
        <!-- end #info_content_picture --></span>

      <!-- end #info_content --></div>

    <!-- end #right_content --></span>

