<% title "Welcome To StakeOn2 The Best Marketing System" %>

	<div id="content_body">

    <div id="content_body_gap_button">
    <!-- end #content_body_gap_button --></div>

    <div id="content_body_button">

      <span id="login_button">

        <%= link_to image_tag( "login_button.jpg", :mouseover => "/images/login_button_highlight.jpg" ), login_path %>

      <!-- end #login_button --></span>

      <span class="button_gap">
      <!-- end .button_gap --></span>

      <span id="winners_button">

        <%= link_to image_tag( "winners_button.jpg", :mouseover => "/images/winners_button_highlight.jpg" ), winner_path %>

      <!-- end #winners_button --></span>

      <span class="button_gap">
      <!-- end .button_gap --></span>

      <span id="register_button">

        <%= link_to image_tag( "register_button.jpg", :mouseover => "/images/register_button_highlight.jpg" ), new_user_path %>

      <!-- end #register_button --></span>

    <!-- end #content_body_button --></div>

    <div id="content_body_gap_envelope">
    <!-- end #content_body_gap_envelope --></div>

    <div id="content_body_envelope">

      <span id="envelope_left">

        <span id="envelope_left_gap_left_content">
        <!-- end #envelope_left_gap_left_content --></span>

        <span id="envelope_left_content">

          <div id="envelope_left_content_header">
          <!-- end #envelope_left_content_header --></div>

          <div id="envelope_left_content_picture">

          	<img src="images/envelope_left_content_picture.jpg" width="227" height="136" alt="Father Son Celebrates" />

          <!-- end #envelope_left_content_picture --></div>

          <div id="envelope_left_content_text">
            StakeOn2 is a Live TV Game Show that will be aired on AIT and NTA (two of the leading TV networks) in
            Africa. Stakers can watch....
          <!-- end #envelope_left_content_text --></div>

          <div id="envelope_left_content_button">

            <%= link_to image_tag( "envelope_left_content_view.jpg", :mouseover => "/images/envelope_left_content_view_highlight.jpg" ), login_path %>

          <!-- end #envelope_left_content_button --></div>

        <!-- end #envelope_left_content --></span>

        <span id="envelope_left_gap_right_content">
        <!-- end #envelope_left_gap_right_content --></span>

      <!-- end #envelope_left --></span>

      <span id="envelope_picture">
      <!-- end #envelope_picture --></span>

      <span id="envelope_right">

        <span id="envelope_right_gap_left_content">
        <!-- end #envelope_right_gap_left_content --></span>

        <span id="envelope_right_content">

          <div id="envelope_right_content_header">
          <!-- end #envelope_right_content_header --></div>

          <div id="envelope_right_content_text">
            StakeOn2 Live TV Weekly Game Show is the leading album marketing show that is aimed at empowering
            the youths in Nigeria by creating marketing opportunities that will encourage ....
          <!-- end #envelope_right_content_text --></div>

          <div id="envelope_right_content_buttons">

            <div class="envelope_right_content_button">

              <%= link_to image_tag( "register_as_a_marketer_normal.jpg", :mouseover => "/images/register_as_a_marketer_highlight.jpg" ), login_path %>

            <!-- end .envelope_right_content_button --></div>

            <div class="envelope_right_content_button">

              <%= link_to image_tag( "how_to_play_online_normal.jpg", :mouseover => "/images/how_to_play_online_highlight.jpg" ), play_path %>

            <!-- end .envelope_right_content_button --></div>

            <div class="envelope_right_content_button">

              <%= link_to image_tag( "music_albums_promoted_normal.jpg", :mouseover => "/images/music_albums_promoted_highlight.jpg" ), album_path %>

            <!-- end .envelope_right_content_button --></div>

          <!-- end #envelope_right_content_buttons --></div>

          <div id="envelope_right_content_button">
          <!-- end #envelope_right_content_button --></div>

        <!-- end #envelope_right_content --></span>

        <span id="envelope_right_gap_right_content">
        <!-- end #envelope_right_gap_right_content --></span>

      <!-- end #envelope_right --></span>

    <!-- end #content_body_envelope --></div>

    <div id="content_body_gap_container">
    <!-- end #content_body_gap_container --></div>

  <!-- #content_body --></div>

